.demo-table {
    width: 100%;
  }
  
  .mat-column-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-clientname {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-emailaddress {
    font-style: italic;
  }
  
  .mat-column-incomerange {
    text-align: center;
    font-weight: bold;
  }
  