<main class="login-block header-margin">
    <div class="custom-centre-card">
        <div class="row" style="height: 400px;">
            <div class="col-12 text-center color-grey" style="font-size: 230px; margin-top: 10%;">
                \(o_o)/
            </div>
        </div>
        <div class="row" style="height: 50px;">
            <div class="col-12 text-center" style="font-size: 30px; font-weight: bold;">
                <span>404! Page Not Found</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" style="font-size: 15px">
                <span>I think you might want to go <a routerLink="/policies"
                        style="font-weight: bold; text-decoration: none; cursor: pointer;">home</a> </span>
            </div>
        </div>
    </div>
</main>